table, td, tr, th {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #ffc;
    padding: 3px;
}

body {
    font-size: 20px
}

th {
    background-color: cornflowerblue
}
