.text {
  color: white;
  width: 500px;
  position: fixed;
  top: 30%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.succes-button {
  width: 413px;
  height: 35px;
}
