.text {
  color: white;
  width: 500px;
  position: fixed;
  top: 30%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.succes-button {
  position: fixed;
  width: 287px;
  height: 35px;
}

.radio {
  position: fixed;
}

.text-user{
  color: white;
  width: 500px;
  position: fixed;
  top: 40%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
